.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(94, 221, 94);
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__dot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  left: 35px;
  bottom: 25px;
}
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translatez(40px);
  opacity: 0;
  animation: appearBtnAnimation 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.2s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.4s;
}
.nav__btn:last-child {
  animation-delay: 0.6s;
}
