.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 25px 0px 25px;
  margin-bottom: 10px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__dot {
  background-color: tomato;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 55px;
  right: 15px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotatez(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 5s linear infinite;
}
