.status-bar {
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  position: fixed;
  width: 100%;
  border-bottom: var(--main-border);
  background-color: rgb(94, 221, 94);
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.status-bar__column:last-child i {
  margin-right: 8px;
}
