#chat-screen {
  background-color: green;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  background-color: green;
  top: 0;
  position: fixed;
  width: 100%;
}
#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

#chat-screen .status-bar {
  z-index: 2;
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  color: white;
  background-color: #5a0d0d;
  padding: 12px;
  font-size: 14px;
  border-radius: 16px;
  margin-bottom: 25px;
}

@keyframes otherappear {
  from {
    transform: translatex(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes ownappear {
  from {
    transform: translatex(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  animation: otherappear 1s linear;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__author {
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 8px;
  display: block;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 10px;
  margin-right: 5px;
  border-top-left-radius: 0px;
  font-size: 18px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own {
  justify-content: flex-end;
  animation: ownappear 1s linear forwards;
}

.message-row--own .message__bubble {
  background-color: yellow;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  order: 1;
  margin-right: 0;
  margin-left: 5px;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply__column:first-child i {
  opacity: 0.5;
}

.reply input {
  padding: 15px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 7px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 15px;
}

.reply__column button {
  background-color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
