.ad-screens {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.ad-screens img {
  cursor: pointer;
}

.ad-screens__image {
  width: 50%;
  height: 200px;
  border-radius: 30px;
}

.shopping-search {
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.shopping-search__bar {
  display: flex;
  align-items: center;
  width: 95%;
}
.shopping-search__input {
  width: 100%;
  border: none;
  margin-left: 30px;
  background-color: rgba(42, 155, 4, 0);
}

.shopping-search i {
  padding-right: 10px;
}

.shopping-recommend {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.shopping-recommend__row {
  display: flex;
  align-items: center;
  margin-left: 20px;
  overflow-x: auto;
}

.shopping-recommend .divider {
  width: 2px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 20px;
}

.shopping-recommend__row-list {
  border: 2px solid brown;
  width: 50px;
  height: 30px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}
